<div id="<%= dom_id delivery_person %>">
  <p>
    <strong>Name:</strong>
    <%= delivery_person.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= delivery_person.phone %>
  </p>

  <p>
    <strong>Vehicle type:</strong>
    <%= delivery_person.vehicle_type %>
  </p>

</div>
