<h1>Editing delivery person</h1>

<%= render "form", delivery_person: @delivery_person %>

<br>

<div>
  <%= link_to "Show this delivery person", @delivery_person %> |
  <%= link_to "Back to delivery people", delivery_people_path %>
</div>
