<div id="<%= dom_id dish %>">
  <p>
    <strong>Restaurant:</strong>
    <%= dish.restaurant_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= dish.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= dish.price %>
  </p>

</div>
